<p id="notice"><%= notice %></p>

<div class="span12">
<p>
  <h1>Company name:
  <%= @customer.company_name %>
  </h1>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Contanct name:</b>
  <%= @customer.contact_name %>
</p>

<p>
	<table class="table-striped">
		<th>Orders</th>
	<%= customer_order_information(@customer) %>
	</table>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

</div>